/*/// RESET ///*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*/// DEBUG ///*/

/* border */
/* .bord{
    border: dashed 1px black;
} */
.debug .fo-col-big{
    border: dashed 1px black;
}
.debug .fo-col-small{
    border-top: dashed 1px black;
    border-bottom: dashed 1px black;
    border-left: dashed 1px white;
    border-right: dashed 1px white;
}
.debug .foo-top :last-child{
    border-right: dashed 1px black;
}

/* header */
.debug .header-top{
    height: 20%;
    background-color: blue;
}
/* .debug .nav{
    background-color: orange;
    width: 60%;
} */
/* .debug .big-nav{
    width: 60%;
} */
/* .debug .header-bottom{
    background-color: blue;
} */
/* .debug .header-box{
    background-color: violet;
    width: 40%;
    height: 150px;
} */
/* main */
.debug .col-big{
    width: 40%;
    height: 200px;
    background-color: aqua;
}
.debug .col-small{
    width: 20%;
    height: 200px;
    background-color: pink;
}
.debug .col-main{
    width: 60%;
    height: 300px;
    background-color: green;
}
/* footer */
.debug .fo-col-big{
    background-color: lightcoral;
    width: 20%;
    height: 250px;
}
.debug .fo-col-small{
    background-color: aquamarine;
    width: 10%;
    height: 250px;
}
.foo-nav{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: orange;
    width: 60%;
}
/*/// FINE DEBUG ///*/

/* COMMON */
a{
    text-decoration: none;
}
button{
    border-radius: 20px;
    padding: 8px;
    border: none;
}



/* TYPOGRAPHY */
body{
    font-family: 'Ubuntu', sans-serif;
}

/*/// HEADER ///*/
header, header a{
    color: white;
}
.header-top{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 80%;
}
.big-nav{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.nav button{
    background-color: white;
}
.header-bottom{
    display: flex;
    justify-content: center;
    padding: 5%;
    background-image: url(../img/img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 40%;
    background-size: 100%;
}
.header-box{
    max-width: 50%;
    max-height: 70%;
    text-align: center;
}
.header-box h1{
    margin-bottom: 5%;
}
.header-box p{
    margin-bottom: 2%;
}
.header-box .second-bot{
    background-color: rgb(37, 34, 34);
    color: white;
}
.header-box .first-bot{
    background-color: white;
    color: black;
}
.header-box button{
    margin: 0px 5px 5px 5px;
}


/*/// MAIN ///*/
main > section:nth-child(2n){
    background-color: lightgray;
}
section{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.col-big{
    
}
.col-small{
   
}

/*/// FOOTER ///*/
footer{
    background-color: gray;
}
/* top */
.foo-top{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-bottom: 5px;
}
/* bottom */
.foo-bottom{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    border: solid 2px lightgray;
}

